.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
}
.product-thumb{
    margin-right: 2rem;
}
.description h4{
    color: blue;
    font-weight: 400;
}
.color-btn{
    height: 30px;
    width: 200px;
    background: #f0c14b;
    border: 1px solid gray;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}